* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f8f8f8;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 0px 60px; */
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #ffff;
}

.logo {
    width: 140px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links ul {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}


.nav-links ul li {
    list-style: none;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
}

.nav-links ul li a:hover {
    color: #ff6b3d;
}


.nav-icons {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;
    margin-left: 160px;
}

.fa-solid:hover {
    color: #ff6b3d;
}

.hamburger {
    font-size: 1.6rem;
    display: none;
}


/* Hero Section */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 120px 20px 100px;
}

.hero-content {
    max-width: 900px;
}

.hero h1 {
    font-size: 3.5rem;
    line-height: 1.4;
    letter-spacing: 1.2px;
    font-weight: 700;
}

.hero p {
    font-size: 1.3rem;
    color: #555;
    line-height: 1.6;
    margin-top: 20px;
}

/* Responsive */

/* @media (max-width: 768px) {
    .navbar {
        padding: 20px;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: #fff;
        flex-direction: column;
        width: 100%;
        align-items: center;
        display: none;
        padding: 20px 0;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .hero {
        padding: 120px 40px 240px;
    }

    .hero h1 {
        font-size: 2.4rem;
    }

    .hero p {
        font-size: 1rem;
    }
} */

@media (max-width:768px) {

    .nav-links {
        position: absolute;
        top: 75px;
        right: 0;
        width: 100%;
        background: #fff;
        display: none;
        flex-direction: column;
        padding: 20px 0;
    }

    .nav-links ul {
        flex-direction: column;
        gap: 20px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

/* Blog Section */

.blog {
    background: #f8f8f8;
    padding: 60px 80px;
}


.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.blog-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.blog-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

.blog-card h3 {
    font-size: 1.2rem;
    padding: 10px 12px 5px;
    color: #111;
}

.blog-card p {
    color: #555;
    font-size: 0.85rem;
    padding: 0 15px 12px;
}

.blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Responsive */
@media (max-width:768px) {
    .blog {
        padding: 40px 20px;
    }

    .blog-container {
        grid-template-columns: 1fr;
    }

    .blog-card img {
        height: 200px;
    }
}

/* Footer Section */
.footer {
    padding: 60px 80px 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.footer-logo {
    width: 120px;
    margin-bottom: 15px;
}

.footer-col p {
    color: #555;
    font-size: 0.85rem;
    line-height: 1.6;
}

.footer-col h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-col a {
    display: block;
    text-decoration: none;
    color: #555;
    font-size: 1rem;
    transition: 0.3s;
}

.footer-col a:hover {
    color: #ff6b3d;
}

.footer-input {
    display: flex;
    margin-top: 10px;
}

.footer-input input {
    padding: 10px;
    border: none;
    outline: none;
    flex: 1;
    border-radius: 5px 0 0 5px;
    background: #f0f0f0;
}

.footer-input button {
    padding: 10px 15px;
    border: none;
    background: #ff6b3d;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

.footer-input button:hover {
    background: #e55a2c;
}

.footer-bottom {
 text-align: center;
 border-top: 1px solid #333;
 margin-top: 30px;
 padding-top: 15px;
 color: #555;
 font-size: 0.85rem;
}

/* Responsive */
@media (max-width:768px) {
   .footer {
        padding: 40px 20px 20px;
    }

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-col {
        margin-bottom: 30px;
    }

    .footer-input {
        justify-content: center;
    }
}
